<include file="Public:header" />
<script src="http://cdn.static.runoob.com/libs/jquery/1.10.2/jquery.min.js"></script>
<link rel="stylesheet" href="__ROOT__/Statics/admin/css/login.css" media="all" />
<body>
	<video class="video-player" preload="auto" autoplay="autoplay" loop="loop" data-height="1080" data-width="1920" height="1080" width="100%">
	    <source src="__ROOT__/Statics/admin/images/login.mp4" type="video/mp4">
	</video>
	<div class="video_mask"></div>
	<div class="login">
	    <h1>微梦互联-管理登录</h1>
	    <form class="layui-form">
	    	<div class="layui-form-item">
				<input class="layui-input" name="username" id="username" placeholder="用户名" lay-verify="required" type="text" autocomplete="off">
		    </div>
		    <div class="layui-form-item">
				<input class="layui-input" name="password" id="password" placeholder="密码" lay-verify="required" type="password" autocomplete="off">
		    </div>
		    <div class="layui-form-item form_code">
				<input class="layui-input" name="verify" id="verify" placeholder="验证码" lay-verify="required" type="text" autocomplete="off">
				<div class="code"><img id="verify_img" src="{:U('public/verify',array('rand'=>time()))}" title="看不清？点击刷新" onclick="javascript:this.src='{:U('public/verify')}'" width="116" height="36"/> </div>
		    </div>
			<button class="layui-btn login_btn" lay-submit="" id="submit" lay-filter="login">登录</button>
		</form>
	</div>
	<script type="text/javascript" src="__ROOT__/Statics/admin/layui/layui.all.js"></script>
    <script type="text/javascript" src="__ROOT__/Statics/admin/js/login.js"></script>
</body>
</html>