<include file="Public:header" />
<body class="childrenBody">
	<div class="panel_box row">
		
		<div class="panel col">
			<a href="javascript:;" data-url="page/user/allUsers.html">
				<div class="panel_icon" style="background-color:#009688;">
					<i class="layui-icon" data-icon="&#xe613;">&#xe613;</i>
				</div>
				<div class="panel_word userAll">
					<span>{$userCount}</span>
					<cite>用户总数</cite>
				</div>
			</a>
		</div>
		<div class="panel col">
			<a href="javascript:;" data-url="page/img/images.html">
				<div class="panel_icon" style="background-color:#5FB878;">
					<i class="iconfont icon-dongtaifensishu" data-icon="icon-dongtaifensishu"></i>
				</div>
				<div class="panel_word imgAll">
					<span>{$newUser}</span>
					<cite>新增人数</cite>
				</div>
			</a>
		</div>
		<div class="panel col">
			<a href="javascript:;" data-url="page/news/newsList.html">
				<div class="panel_icon" style="background-color:#F7B824;">
					<i class="iconfont icon-wenben" data-icon="icon-wenben"></i>
				</div>
				<div class="panel_word waitNews">
					<span>{$audit_newsCount}</span>
					<cite>待审核文章</cite>
				</div>
			</a>
		</div>
		<div class="panel col max_panel">
			<a href="javascript:;" data-url="page/news/newsList.html">
				<div class="panel_icon" style="background-color:#2F4056;">
					<i class="iconfont icon-text" data-icon="icon-text"></i>
				</div>
				<div class="panel_word allNews">
					<span>{$newsCount}</span>
					<em>文章总数</em>
					<cite>文章列表</cite>
				</div>
			</a>
		</div>
		<div class="panel col">
			<a href="javascript:;" data-url="page/message/message.html">
				<div class="panel_icon">
					<i class="layui-icon" data-icon="&#xe63a;">&#xe63a;</i>
				</div>
				<div class="panel_word newMessage">
					<span>{$messageCount}</span>
					<cite>新消息</cite>
				</div>
			</a>
		</div>
		<div class="panel col">
			<a href="javascript:;" data-url="page/user/allUsers.html">
				<div class="panel_icon" style="background-color:#FF5722;">
					<i class="layui-icon" data-icon="&#xe64a;">&#xe64a;</i>
				</div>
				<div class="panel_word userAll">
					<span>{$imageCount}</span>
					<cite>图片总数</cite>
				</div>
			</a>
		</div>
	</div>

	<div class="row">
		<div class="sysNotice col">
			<blockquote class="layui-elem-quote title">更新日志</blockquote>
			<div class="layui-elem-quote layui-quote-nm">
				<h3># v1.0.1 - 2017-12-05</h3>
				<p>* 开发完成</p>
			</div>
		</div>
		<div class="sysNotice col">
			<blockquote class="layui-elem-quote title">系统基本参数</blockquote>
			<table class="layui-table">
				<colgroup>
					<col width="150">
					<col>
				</colgroup>
				<tbody>
					<tr>
						<td>当前版本</td>
						<td class="version">v1.0.1</td>
					</tr>
					<tr>
						<td>开发作者</td>
						<td class="author">maomao</td>
					</tr>
					<tr>
						<td>操作系统</td>
						<td class="dataBase">{$server_info.systerm}</td>
					</tr>
					<tr>
						<td>服务器域名/IP</td>
						<td class="homePage">{$server_info.host}</td>
					</tr>
					<tr>
						<td>服务器环境</td>
						<td class="server">{$server_info.environment}</td>
					</tr>
					<tr>
						<td>剩余空间</td>
						<td class="maxUpload">{$server_info.size}</td>
					</tr>
					<tr>
						<td>当前用户权限</td>
						<td class="userRights">{$admin_role.name}</td>
					</tr>
				</tbody>
			</table>
			<blockquote class="layui-elem-quote title">最新文章<i class="iconfont icon-new1"></i></blockquote>
			<table class="layui-table" lay-skin="line">
				<colgroup>
					<col>
					<col width="110">
				</colgroup>
				<tbody class="hot_news"></tbody>
			</table> 
		</div>
	</div>
	<script type="text/javascript" src="__ROOT__/Statics/admin/layui/layui.all.js"></script>
    <script type="text/javascript" src="__ROOT__/Statics/admin/js/main.js"></script>
</body>
</html>