<include file="Public:header" />
<style type="text/css" media="screen">
  .map{
  margin-top: 100px;
  position: relative;
}
.map em{
  background: url("__ROOT__/Statics/home/images/map/arr1.jpg") center top no-repeat;
  width: 100%;
  height: 15px;
  display: block;
  position: absolute;
  left: 0;
  top: 0;
}
.map-s{
  background: url("__ROOT__/Statics/home/images/map/map_s.png") center top;
  height: 107px;
  text-align: center;
  overflow: hidden;
}
.map .btn{
  text-align: center;
  color: #fff;
  font-size: 18px;
  line-height: 132px;
  display: inline-block;
}
.map .btn-down{
  background: url("__ROOT__/Statics/home/images/map/map_down.png") no-repeat;
  width: 112px;
  height: 48px;
  display: inline-block;
  position: absolute;
  left: 50%;
  top: 52px;
  margin-left: -50px;
  z-index: 99;
}
#map{
}
.map-pop{
  display: none;
  height: 540px;
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
}
.map .map-bg1,.map .map-bg2{
  background: url("__ROOT__/Statics/home/images/map/ban_bg_top.png") no-repeat center 0;
  height: 54px;
  position: absolute;
  left: 0;
  top: 0; 
  width: 100%;
  z-index: 66;
}
.map .map-bg2{
  background-image: url("__ROOT__/Statics/home/images/map/map_bg2.png");
  height: 41px;
  bottom: 0px;
  top: auto;
}
.map-pop-big{
  height: 600px;
  bottom:auto;
  top: 0;
}
.map-big{
    height: 600px;
    margin-top: 0;
}
/*底部*/
#fd{
  background: url("__ROOT__/Statics/home/images/map/fd_bg.png") center top no-repeat;
  padding-top: 75px;
}
.index-fd{
  margin-top: -31px;
}
#fd .fd-top{
  overflow: hidden;
  color: #fff;
  padding-bottom: 45px;
}
.pr, .pc {

vertical-align: middle;

margin: -31px 0px -5px -2px;

padding: 0;
}
</style>
<link rel="stylesheet" type="text/css" href="__ROOT__/Statics/home/css/style_2_portal_list.css" />
<!-- <script type="text/javascript" src="http://api.map.baidu.com/api?key=&v=1.1&services=true"></script> -->
<div id="mu" class="cl">
  <div class="wp"> </div>
</div>
<script src="__ROOT__/Statics/home/js/week_nav.js"type="text/javascript"></script>
<div id="wp" class="wp">
  <style id="diy_style" type="text/css">
#frameyd1cLA {  border:0px !important;margin:0px !important;}#portal_block_18 {  border:0px !important;margin:0px !important;}#portal_block_18 .dxb_bc {  margin:0px !important;}#framep2n1bg {  border:0px !important;margin:0px !important;}#portal_block_19 {  border:0px !important;margin:0px !important;}#portal_block_19 .dxb_bc {  margin:0px !important;}#frameHCV83Y {  border:0px !important;margin:0px !important;}#portal_block_20 {  border:0px !important;margin:0px !important;}#portal_block_20 .dxb_bc {  margin:0px !important;}#framelo3Fmy {  border:0px !important;margin:0px !important;}#portal_block_21 {  border:0px !important;margin:0px !important;}#portal_block_21 .dxb_bc {  margin:0px !important;}
</style>
<link href="__ROOT__/Statics/home/css/about.css" rel="stylesheet" type="text/css" />
</div>
<div class="wk_list_box wk_list_box3"> </div>

<div class="clear"></div>
<div class="week_contact">
  <div class="week_container">
    <ul class="contact-ways">
      <li> <a href="tel:187-0131-1071"> <i class="i-phone"></i>
        <h4>给我们打电话</h4>
        <p class="cway-txt">187-0131-1071</p>
        </a> </li>
      <li><a href="http://wpa.qq.com/msgrd?v=3&amp;uin=1804251146&amp;site=qq&amp;menu=yes" target="_blank" class="im-qq qq-a" title="在线QQ客服"> <i class="i-qq"></i>
        <h4>QQ在线联系</h4>
        <p class="cway-txt">1804-251-146</p>
        </a>
        </a> </li>
      <li> <a href="Mailto:mwqnice@163.com"> <i class="i-mail"></i>
        <h4>给我们发邮件</h4>
        <p class="cway-txt">mwqnice@163.com</p>
        </a> </li>
    </ul>
  </div>
</div>
<div class="clear"></div>
<div class="week_weixin">
  <div class="week_container">
    <h3>关注微信</h3>
    <p>扫一扫二维码，关注我们的微信公众号</p>
    <p class="week_weixin-p"><img src="__ROOT__/Statics/home/images/weixin.jpg" /></p>
  </div>
</div>
<div class="clear"></div>
<!-- <div class="week_map">
  <div id="allmap">
  <div style="width:100%;height:520px;" id="dituContent"></div>
  </div>
  <div class="mark-info">
    <h4>山东省莱芜市莱城区</h4>
    <p>Mobile：187-0131-1071</p>
  </div>
</div> -->
<div class="map">
        <div class="map-s">
            <a href="javascript:void(0);" class="btn"><em></em>点击展开地图</a>
        </div>
        <div class="map-pop map-pop-big">
            <a href="javascript:void(0);" class="btn-down"></a>
            <div class="map-bg1"></div>
            <div class="map-bg2"></div>
            <div id="map" class="map-c" style="width:100%;height:100%;"></div>
        </div>
    </div>

<div class="clear"></div>
<div id="fd" class="index-fd pr">
    <div class="map-bg3 __web-inspector-hide-shortcut__"></div>
</div>
<div id="wp" class="wp">
  <div class="wp"><!--[diy=diy1]-->
    <div id="diy1" class="area"></div>
    <!--[/diy]--></div>
  
  <!--[diy=listcontenttop]-->
  <div id="listcontenttop" class="area"></div>
  <!--[/diy]-->
  
  <div class="clear"></div>
  
  <!--[diy=diycontentbottom]-->
  <div id="diycontentbottom" class="area"></div>
  <!--[/diy]-->
  
  <div class="wp mtn"> 
    
    <!--[diy=diy3]-->
    <div id="diy3" class="area"></div>
    <!--[/diy]--> 
    
  </div>
</div>

<include file="Public:footer" />
<script type="text/javascript" src="http://api.map.baidu.com/api?v=2.0&ak=5b31afcdea6af2d7d3677ca5c1a22c46"></script>
<script type="text/javascript" src="http://api.map.baidu.com/getscript?v=2.0&ak=5b31afcdea6af2d7d3677ca5c1a22c46&services=&t=20171031174121"></script>
<script type="text/javascript" src="__ROOT__/Statics/home/images/map/map.js?v=1.1"></script>
<script type="text/javascript" src="__ROOT__/Statics/home/images/map/jquery.js"></script>
<script>
  $('.map .btn').click(function(){
      $('.map-pop').show();
      $(this).parents('.map').addClass('map-big');
      var winW = $(window).width();
      var winH = $(window).height();
      if(winW < 768){
          $('.map-pop').height($(window).height()-50-80);
          $('.map-big').height($(window).height()-50-80);
          $("html, body").animate({ scrollTop: $(document).height() }, 1000);
      }else{

          $('.map-pop').height($(window).height()-344-101);
          $('.map-big').height($(window).height()-344-101);
          $("html, body").animate({ scrollTop: $(document).height() }, 1000);
      }
      initMap();
  })
  $('.map .btn-down').click(function(){
      $('.map-pop').hide();
      $(this).parents('.map').removeClass('map-big');
      $('.map').height('107');
  })

</script>
