<include file="Public:header" />
<link rel="stylesheet" type="text/css" href="__ROOT__/Statics/home/css/style_2_portal_list.css" />

<div id="mu" class="cl">
  <div class="wp"> </div>
</div>
<script src="__ROOT__/Statics/home/js/week_nav.js" type="text/javascript"></script>
<div id="wp" class="wp">
  <style id="diy_style" type="text/css">
</style>
  <style>

.wp { width:1190px; margin:0 auto; } 

</style>
</div>
<div class="wk_list_box wk_list_box17"> </div>
<div class="clear"></div>
<div class="wk_ymbg">
  <div id="wp" class="wp">
    <div class="wp"> 
      
      <!--[diy=diy1]-->
      <div id="diy1" class="area"></div>
      <!--[/diy]--> 
      
    </div>
    <div class="week-case"> 
      
      <!--[diy=listcontenttop]-->
      <div id="listcontenttop" class="area"></div>
      <!--[/diy]-->
      
      <div class="week-case_con">
       <if condition="empty($product_list) !=true">
         <volist name="product_list" id="vo">
           <dl>
            <dd style="background:url({$vo.img}) no-repeat center center;background-size:cover"><a href="{$vo.url}" title="{$vo.product_name}" target="_blank"></a></dd>
            <dt>
              <h3><a href="{$vo.url}" title="{$vo.product_name}" target="_blank">{$vo.product_name}</a></h3>
            </dt>
          </dl>
         </volist>
       <else />
          <p style="text-align:center;">暂无数据</p>
       </if>
        <div class="clear"></div>
      </div>
      <div class="clear"></div>
      <if condition="empty($product_list) !=true">
        <div class="pagess">
          <ul>
           <li><span class="pageinfo">共 <strong>1</strong>页<strong>{$product_num}</strong>条记录</span></li>

          </ul>
          </div>
      </if>
      <!--[diy=diycontentbottom]-->
      
      <div id="diycontentbottom" class="area"></div>
      <!--[/diy]--> 
      
    </div>
  </div>
  <div class="wp mtn"> 
    <!--[diy=diy3]-->
    <div id="diy3" class="area"></div>
    <!--[/diy]--> 
  </div>
</div>
<include file="Public:footer" />