<include file="Public:header" />
<link rel="stylesheet" type="text/css" href="__ROOT__/Statics/home/css/style_2_portal_list.css?v=1.1" />

<div id="mu" class="cl">
  <div class="wp"> </div>
</div>
<script src="__ROOT__/Statics/home/js/week_nav.js" type="text/javascript"></script>
<div id="wp" class="wp"> 

</div>
<div class="wk_list_box wk_list_boxquestion"> </div>
<div class="clear"></div>
<div class="wk_ymbg">
  <div id="wp" class="wp">
    <div class="wp"> 
      
      <!--[diy=diy1]-->
      <div id="diy1" class="area"></div>
      <!--[/diy]--> 
      
    </div>
    <div id="ct" class="ct2 wp cl">
      <div class="mn">
        <div class="wk_c_right_name">
          <div class="wk_c_right_name_r">
            <ul>
              <li> <img src="__ROOT__/Statics/home/images/right_wz.png" alt="" /> </li>
              <li> <span>您现在的位置：</span><a href='<?php echo 'http://'.$_SERVER['SERVER_NAME'];?>'>主页</a> > <a href='{:u('Index/question')}'>常见问题</a>   </li>
            </ul>
          </div>
        </div>
        <!--[diy=listcontenttop]-->
        <div id="listcontenttop" class="area"></div>
        <!--[/diy]-->
        
        <div class="bm">
          <div class="wk_bm_wc cl">
            <ul class="wk_su">
              <if condition ="empty($question_list)!=true">
              <volist name="news_list" id="vo">
                  <li class="cl">
                    <h2><a href="{:u('Index/news_detail',array('id'=>$vo['id']))}" target="_blank" class="xi2" title="{$vo.title}"  style="">{$vo.title}</a> </h2>
                    <p class="wk_bm_sm">{$vo.abstract}...</p>
                    <span class="xg1">
                    <span class="xg1">时间: {$news_detail['add_time']|date='Y-m-d',###}</span> </span> 
                </li>
              </volist> 
              <else />
                  <p style="text-align:center;margin-top:10px;">暂无动态</p>
              </if>
            </ul>
          </div>
          
          <!--[diy=listloopbottom]-->
          
          <div id="listloopbottom" class="area"></div>
          <!--[/diy]--> 
          
        </div>
        <div class="clear"></div>
         <if condition ="empty($question_list)!=true">
            <div class="pagess">
            <ul>
             <li><span class="pageinfo">共 <strong>1</strong>页<strong>{$question_num}</strong>条记录</span></li>

            </ul>
            </div>
        </if>
        <!--[diy=diycontentbottom]-->
        <div id="diycontentbottom" class="area"></div>
        <!--[/diy]--> 
        
      </div>
      <div class="sd pph">
        
        <div class="clear"></div>
        
        <!--[diy=wk_zcyl1]-->
        <div id="wk_zcyl1" class="area"></div>
        <!--[/diy]-->
        
        <div class="clear"></div>
        <div class="wk_c_left_cont"> <span class="wk_c_left_cont1">联系方式</span><span class="wk_c_left_cont2">Contact</span> </div>

<div class="wk_left_contdiv"> 
    <span><strong>地 址：</strong>山东省莱芜市莱城区</span> 
    <span><strong>公司名称：</strong>莱芜市微梦互联网络科技有限公司</span> 
    <span><strong>电话咨询：</strong>187-0131-1071</span> 
    <span><strong>咨询Q Q：</strong><a href="http://wpa.qq.com/msgrd?v=3&uin=1804251146&site=qq&menu=yes" target="_blank"><img title="咨询QQ：1804251146" src="http://wpa.qq.com/pa?p=2:1804251146:4" border="0" alt="咨询QQ：1804251146">&nbsp;1804251146</a></span>  
    <span><strong>邮 箱：</strong><a href="mailto:mwqnice@163.com">mwqnice@163.com</a></span> 
</div>

        <div class="clear"></div>
        
        <!--[diy=wk_zcyl2]-->
        <div id="wk_zcyl2" class="area"></div>
        <!--[/diy]-->
        
        <div class="clear"></div>
      </div>
    </div>
  </div>
  <div class="wp mtn"> 
    
    <!--[diy=diy3]-->
    <div id="diy3" class="area"></div>
    <!--[/diy]--> 
    
  </div>
</div>
<include file="Public:footer" />