<include file="Public:header" />
<link rel="stylesheet" href="__ROOT__/Statics/admin/css/user.css" media="all" />
<body class="childrenBody">
	<blockquote class="layui-elem-quote news_search">
		<div class="layui-inline">
		<form action="{:u('News/news_category')}" method="get">
				<div class="layui-input-inline">
		    	<input type="text" value="{$keyword}" name="keyword" placeholder="请输入关键字" class="layui-input search_input">
		    </div>
		    <input type="submit" value="查询" class="layui-btn search_btn"/>
		</form>
		</div>
		<div class="layui-inline">
			<a class="layui-btn layui-btn-normal newsCateAdd_btn">添加分类</a>
		</div>
		<!-- <div class="layui-inline">
			<a class="layui-btn layui-btn-danger batchDel">批量删除</a>
		</div> -->
		<div class="layui-inline">
			<div class="layui-form-mid layui-word-aux"> <!-- --></div>
		</div>
	</blockquote>
	<div class="layui-form news_list">
	  	<table class="layui-table">
		    <colgroup>
		    	<col width="50">
				<col width="50">
				<col>
				<col width="15%">
				<col width="15%">
				<col width="15%">
				<col width="30%">
		    </colgroup>
		    <thead>
				<tr>
					<th>编号</th>
					<th><input type="checkbox" name="" lay-skin="primary" lay-filter="allChoose" id="allChoose"></th>
					<th>分类名称</th>
					<th>描述</th>
					<th>状态</th>
					<th>排序</th>
					<th>操作</th>
				</tr> 
		    </thead>
		    <tbody class="news_content">
		    	<if condition="empty($news_cate_list) neq true">
						<volist name="news_cate_list" id="val" >
					        <tr>
					        	<td>{$val.id}</td>
					            <td><input type="checkbox" lay-skin="primary" lay-filter="choose" value="{$val.id}" name="id[]"></td>
					            <td>{$val.name}</td>
					            <td>{$val.describe}</td>
					            <td><input type="checkbox" name="status" lay-skin="switch" lay-text="是|否" lay-filter="isShow" data-id="{$val.id}" class="status" <if condition="$val['status'] eq 1">checked</if>></td>
					     		<td>{$val.sort}</td>
					            <td align="center">
					            	<a class="layui-btn layui-btn-mini news_cate_edit" data-id="{$val.id}"><i class="iconfont icon-edit"></i> 编辑</a>
					            	<if condition="$val['status']==1">
					            	<a class="layui-btn layui-btn-danger layui-btn-mini news_cate_del" data-id="{$val.id}"><i class="layui-icon">&#xe640;</i> 删除</a>
					            	<else/>
					            	<a class="layui-btn layui-btn-danger layui-btn-mini" style="background-color:gray;" data-id="{$val.id}"><i class="layui-icon">&#xe640;</i> 已删</a>
					            </if>
					            </td>
					        </tr>
					    </volist>

		    		<else />
		    			<tr><td colspan="7">暂无数据</td></tr>
		    	</if>
		    </tbody>
		</table>
	</div>
	<div id="page">{$page}</div>
	<script type="text/javascript" src="__ROOT__/Statics/admin/layui/layui.all.js"></script>
	<script type="text/javascript" src="__ROOT__/Statics/admin/js/newsCategoryList.js"></script>
	<include file="Public:footer" />